# Build output
bin/
obj/
*.dll
*.pdb
*.exe

# IDE / Editor
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# NuGet
packages/
*.nupkg

# OS files
Thumbs.db
.DS_Store

# Mod release
release/
*.zip
rafia-stardew-mods.sln

# Internal docs
docs/
.github

# External/temporary mods
FishingAssistant2Fast/
temp_findings.md

# Secret mods
CapybaraPigReplacement/
CarbonizerRafiaEdit/
SMAPI-latest.txt
DeluxeGrabberRedux*
*QuestManager*
RivalHearts/
MultipleMiniObelisks/

tools/