# Build output
bin/
obj/
*.dll
*.pdb
*.exe

# IDE / Editor
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# NuGet
packages/
*.nupkg

# OS files
Thumbs.db
.DS_Store

# Mod release
release/
*.zip

# Internal docs
PRD.md
DECISION_LOG.md
checklist.txt

# Secret mods
CapybaraPigReplacement/
CarbonizerRafiaEdit/
SMAPI-latest.txt